{% set image_path = base_path ~ 'themes/swaraj/images/' %}

<div class="article">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="art-next-prev">
              {% if data.prev %}<a class="btn btn-default border btn-sm" href="{{ data.prev }}">{% trans %}Previous{% endtrans %}</a>{% else %}<a class="btn btn-default border btn-sm disabled" href="/" onclick="return false;">{% trans %}Previous{% endtrans %}</a>{% endif %}
            {% if data.next %}<a class="btn btn-default border btn-sm ML20" href="{{ data.next }}">{% trans %}Next{% endtrans %}</a>{% else %}<a class="btn btn-default border btn-sm ML20 disabled" href="/" onclick="return false;">{% trans %}Next{% endtrans %}</a>{% endif %}
            <a class="btn btn-default green btn-sm ML20" href="{{ data.all }}">{% trans %}All Articles{% endtrans %}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="usr-bx">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>{{ data.title }}</h3>
          {% if data.author %}
          <div class="usr-info">
            <div>
              <img alt="" class="img-circle lozad animated" style="animation-duration: 1.4s" data-animation="fadeInUp" data-src="{{ data.author_img }}">
            </div>
            
            <div>
              <span class="name">By {{ data.author }}</span>
              <span>{{ data.date }}</span>
            </div>

          </div>
          {% endif %}
          <p>
            {{ data.desc|raw }}
          </p>
        </div>
      </div>
    </div>
  </section>
</div>