{% set image_path = base_path ~ 'themes/swaraj/images/' %}

<div id="yourself" class="container">
  <div class="row">
    <div class="col-md-12 CTR os-animation" data-os-animation-delay="0s" data-os-animation="fadeInUp">
      <h4>{{ data.text }}</h4>
    </div>
  </div>
  <div class="product we-do-thing">
    <div class="card-carousel owl-carousel green">
    {% for key, value in data.result %}
      {% if value.type == 'video' %}
        <div class="os-animation" data-os-animation-delay="1s" data-os-animation="fadeInUp">
          <div class="home-card">
            <figure>
              <a class="play-icon" data-toggle="modal" href="#myModalVideo{{ key }}"><img class="lozad animated" style="animation-duration: 1.4s" data-animation="fadeInUp" data-src="{{ image_path }}play.png"></a>
              <a data-toggle="modal" href="#myModalVideo{{ key }}"><img alt="" class="lozad animated" style="animation-duration: 1.4s" data-animation="fadeInUp" data-src="{{ value.image }}"></a>
            </figure>
            <div class="card-info-box">
              <p class="card-tags">{{ value.category }}</p>
              <hr>
              <p class="card-date">{{ value.date }}</p>
              <h5 class="card-title">
                <a data-toggle="modal" href="#myModalVideo{{ key }}">{{ value.title }}</a>
              </h5>
              <p class="card-description">{{ value.short }}</p>
              <p>
                <a class="btn btn-default green" data-toggle="modal" href="#myModalVideo{{ key }}">Watch Video</a>
              </p>
            </div>
          </div>
        </div>
        {% else %}
        <div class="os-animation" data-os-animation-delay=".5s" data-os-animation="fadeInUp">
          <div class="home-card">
            <figure>
              <a href="{{ value.link }}"><img alt="" class="lozad animated" style="animation-duration: 1.4s" data-animation="fadeInUp" data-src="{{ value.image }}"></a>
            </figure>
            <div class="card-info-box">
              <p class="card-tags">{{ value.category }}</p>
              <hr>
              <p class="card-date">{{ value.date }}</p>
              <h5 class="card-title">
                <a href="#">{{ value.title }}</a>
              </h5>
              <p class="card-description">{{ value.short }}</p>
              <p>
                <a class="btn btn-default green" href="{{ value.link }}">{{ value.link_title }}</a>
              </p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>

{% for key, value in data.video %}
  <div class="modal fade youtube-video-box" id="myModalVideo{{ key }}">
    <div class="container">
      <div class="close-video">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
      </div>
      <div>
        <iframe allowfullscreen frameborder="0" height="600" id="SwarajVideo" class="lozad" data-src="{{ value }}" width="100%"></iframe>
      </div>
    </div>
  </div>
{% endfor %}