{% block blockcontent %}
{% set image_path = base_path ~ 'themes/swaraj/images/' %}
{% set nodes = [] %}
{% for customer in full_content.field_quick_tools_product %}
  {% if customer['#paragraph'] %}
    {% set nodes = nodes | merge([customer['#paragraph']]) %}
  {% endif %}
{% endfor %}
  <div data-block-id="{{ uuid }}">
    <div class="clearfix inner-hero hero-box"></div>
    <section class="swaraj-home product-quick">
      <div class="quick-tools">
        <ul>
          {% for values in nodes %}
            {% if values.field_name.value == 'Download Brochure' %}
              {% if values.field_link.uri %}
                <li class="show-mobTab">
                  <a href="{{ values.field_link.0.url }}" target="_blank"><img alt="" class="lozad animated" style="animation-duration: 1.4s" data-animation="fadeInUp" data-src="{{ file_url(values.field_customer_image.entity.fileuri) }}"><span>{% trans %}
                          {{ values.field_name.value }}
                      {% endtrans %}</span>
                  </a>
                </li>
                <li class="green hide-mobTab">
                  <a href="{{ values.field_link.0.url }}" target="_blank">
                      <img alt="" class="lozad animated" style="animation-duration: 1.4s" data-animation="fadeInUp" data-src="{{ file_url(values.field_customer_image.entity.fileuri) }}"><span>
                          {{ values.field_name.value }}</span>
                  </a>
                </li>
              {% endif %}  
            {% elseif values.field_name.value == 'Get A Quote' %}
              <li class="green hide-mobTab">
                <a href="{{ values.field_link.0.url }}"><img alt="" class="lozad animated" style="animation-duration: 1.4s" data-animation="fadeInUp" data-src="{{ file_url(values.field_customer_image.entity.fileuri) }}"><span>
                        {% trans %}{{ values.field_name.value }} {% endtrans %}</span>
                </a>
              </li>
            {% else %}
              <li>
                <a href="{{ values.field_link.0.url }}"><img alt="" class="lozad animated" style="animation-duration: 1.4s" data-animation="fadeInUp" data-src="{{ file_url(values.field_customer_image.entity.fileuri) }}">
                    <span>{{ values.field_name.value }}</span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="visible-xs visible-sm">
          <div class="all-products-quicklink">
            <a class="" href="products">{% trans %}All Products{% endtrans %}</a>
            <a class="quickLink" href="javascript:void(0)">{% trans %}Quick Links{% endtrans %}</a>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}