{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{% set image_path = base_path ~ 'themes/swaraj/images/' %}
<div class="col-md-6 col-sm-6">
  <figure class="gallery-fig" data-target="#galleryModal{{ fields.nid.content|trim }}" data-toggle="modal">
    <img class="lozad animated" style="animation-duration: 1.4s" data-animation="fadeInUp" data-src="{{ fields.field_media_image.content }}" alt="">
    <div class="tagInfo">
      {% if fields.field_wheel_drive.content != "0" %}
        <span>{{ fields.field_wheel_drive.content }} {% trans %}Images{% endtrans %}</span>
      {% endif %}
      {% if fields.field_wheel_drive.content != "0" and  fields.field_pto_hp.content != "0" %} | {% endif %}
      {% if fields.field_pto_hp.content != "0" %}
        <span>{{ fields.field_pto_hp.content }} {% trans %}Videos{% endtrans %}</span>
       {% endif %}
    </div>
    <figcaption>
      {{ fields.title.content }}
    </figcaption>
  </figure>
</div>
