{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{% set image_path = base_path ~ 'themes/swaraj/images/' %}
<div class="col-md-4 col-sm-6 MT30">
  <div class="home-card">
    <figure>
    {% if fields.field_video.content %}
      <a class="play-icon" data-toggle="modal" href="#myModalVideo{{ fields.nid.content }}"><img class="lozad animated" style="animation-duration: 1.4s" data-animation="fadeInUp" data-src="{{ image_path }}play.png"></a>
      <a href="#myModalVideo{{ fields.nid.content }}">{{ fields.field_media_image.content }}</a>
    {% elseif fields.field_cta.content %}
      <a href="{{ fields.field_cta.content }}" {% if fields.field_target.content %}target={{ fields.field_target.content }}{% endif %}>{{ fields.field_media_image.content }}</a>
    {% else %}
      <a href="{{ path('entity.node.canonical', {'node': fields.nid.content}) }}">{{ fields.field_media_image.content }}</a>
    {% endif %}
    </figure>
    <div class="card-info-box">
      <p class="card-tags">{{ fields.field_news_category.content }}</p>
      <hr>
      {# <p class="card-date">{{ fields.created.content }}</p> #}
      <h5 class="card-title">
      {% if fields.field_video.content %}
        <a href="#myModalVideo{{ fields.nid.content }}" data-toggle="modal">{{ fields.title.content }}</a>
      {% elseif fields.field_cta.content %}
        <a href="{{ fields.field_cta.content }}" {% if fields.field_target.content %}target={{ fields.field_target.content }}{% endif %}>{{ fields.title.content }}</a>
      {% else %}
        <a href="{{ path('entity.node.canonical', {'node': fields.nid.content}) }}">{{ fields.title.content }}</a>
      {% endif %}
      </h5>
      <p class="card-description">{{ fields.field_short_description.content }}</p>
      <p>
      {% if fields.field_video.content %}
        <a class="btn btn-default green" data-toggle="modal" href="#myModalVideo{{ fields.nid.content }}">{% trans %}Watch Video{% endtrans %}</a>
      {% elseif fields.field_cta.content %}
        <a class="btn btn-default green" href="{{ fields.field_cta.content }}" target={{ fields.field_target.content }}>{% trans %}Read More{% endtrans %}</a>
      {% else %}
        <a class="btn btn-default green" href="{{ path('entity.node.canonical', {'node': fields.nid.content}) }}">{% trans %}Read More{% endtrans %}</a>
      {% endif %}
      </p>
    </div>
  </div>
</div>